{% extends "base.html.twig" %}

{% block body %}
    <main class="container">
        <div class="col">
            <h2>Ajouter une nouvelle série :</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit">Ajouter une série</button>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}