// assets/styles/app.scss


// customize some Bootstrap variables
$primary: black;
$secondary: #A395AC;
$light: rgb(151, 144, 146);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/";

nav {
    color:white !important;
}

body {
    background-color: rgb(255, 255, 255);
    
}

ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}
